{% extends "admin/basead.html" %}
{% block title %} dashboard {% endblock %}

{% block content %}
   <div class="body">
		<nav class="side-bar">
			<div class="user-p">
				<h4>Welcome : {{session["username"]}}</h4>
			</div>
			<ul>
				<li>
					<a href="/admin">
						<i class="fa fa-home fa-fw" aria-hidden="true"></i>
						<span>Dashboard</span>
					</a>
				</li>
				<li>
					<a href="/employee">
						<i class="fas fa-user" aria-hidden="true"></i>
						<span>Employees</span>
					</a>
				</li>
				<li>
					<a href="/department">
						<i class="fa fa-building-o" aria-hidden="true"></i>
						<span>Department</span>
					</a>
				</li>
				<li>
					<a href="/lev">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
						<span>Leave type</span>
					</a>
				</li>

				<li>
					<a href="#">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
						<span>Leave Management</span>
					</a>
				</li>
				<li>
					<a href="/chgadmpass">
						<i class="fa fa-cog" aria-hidden="true"></i>
						<span>Change password</span>
					</a>
				</li>
				<li>
					<a href="/logout">
						<i class="fa fa-power-off" aria-hidden="true"></i>
						<span>Logout</span>
					</a>
				</li>
			</ul>
		</nav>
	     <div class="container">
			<div class="row mt-3 ml-2">
			  <div class="col-md-6">
				<div class="card bg-dark text-white w-500 p-3">
				  <div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text">TOTAL REGISTERED EMPLOYEE</p>
					  {% for row in data %}
					  <p class="card-text">{{ row }}</p>
					  {% endfor %}
				  </div>
				</div>
			  </div>

			  <div class="col-md-6">
				<div class="card bg-dark text-white w-500 p-3">
				  <div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text">TOTAL DEPARTMENTS </p>
					  {% for row in dep %}
					  <p class="card-text">{{row}}</p>
					  {% endfor %}
				  </div>
				</div>
			  </div>
		 </div>
	  </div>
  </div>
{% endblock %}
