{% extends "baseemp.html" %}
{% block title %} dashboard {% endblock %}

{% block content %}

<div class="body">
		<nav class="side-bar">
			<div class="user-p">

				<h4>Welcome : {{session["empname"]}}</h4>
			</div>
			<ul>
				<li>
					<a href="/empdash">
						<i class="fa fa-home fa-fw" aria-hidden="true"></i>
						<span>My Profile</span>
					</a>
				</li>
				<li>
					<a href="/chgpass">
						<i class="fas fa-user" aria-hidden="true"></i>
						<span>Change password</span>
					</a>
				</li>
				<li>
					<a href="/applylev">
						<i class="fa fa-comment-o" aria-hidden="true"></i>
						<span>Leave </span>
					</a>
				</li>

				<li>
					<a href="/levhistory">
						<i class="fa fa-comment-o" aria-hidden="true"></i>
						<span>Leave History </span>
					</a>
				</li>

				<li>
					<a href="/logout">
						<i class="fa fa-power-off" aria-hidden="true"></i>
						<span>Logout</span>
					</a>
				</li>
			</ul>
		</nav>
		<div class="row justify-content-center mt-3 pt-2 pr-5 pl-5 pb-2">
		   <div class="col s12">
		    <div class="page-title" style="color:green;"><h3>Change password</h3></div>
		   </div>
			<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center">
			<div class="col-md-12">
			 <div class="card w-125 p-md-4 ">
			   <form class="row" action="/changeemp" method="POST">
				<div class="col-md-6 mb-3">

					<label for="opass">old password</label>
					<input type="password" class="form-control" id="opass" name="opass" >

				</div>
				<div class="col-md-6 mb-3">

					<label for="npass">New password</label>
					<input type="password" class="form-control" id="npass" name="npass" >

				</div>
				 <div class="col-md-6 mb-3">

					<label for="cpass">Confirm password</label>
					<input type="password" class="form-control" id="cpass" name="cpass" >

				</div>

				<div class="col-md-6 mt-4">
				<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			  </form>
			 </div>
			</div>
			</div>
			</div>
		    </div>
</div>
{% endblock %}